body {
    background-image: url(fondo.jpg);
    font-family: 'Raleway', sans-serif;
}

h2 {
    text-align: center;
    
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    border-spacing: 15px;
    background-color: white;
    margin: auto;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

th {
    background-color: black;
    color: white;
}

/*
ul {
    list-style-type: none;  /* quita los . */
  /*  margin: 0;
    padding: 0;
}
*/
#wrapper {
    width: 100%;
    margin: 0 auto;
    /* padding: 0px 0px 0px 5px; */
}

caption {
    background-color: rgb(84, 84, 202);
    padding: 10px;
    color: white;
}

a:link, a:visited {
    display: inline-block;
    /*width: 250px;*/
    width: 18%;
    /*margin: auto;*/
    background-color: yellowgreen;
    color: white;
    text-decoration: none;  /* quita el subrayado de los links*/
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

a:hover, a:active {
    background-color: green;
}

li {
    display: inline;    /*necesita en a display:inline-block*/
    /*float: left;*/
}

nav ul li {
    padding: 0px 0px 0px 10px;
}

td ul li {
    list-style-type: circle;
    list-style-position: inside;

}