body {
  font-family: Arial, sans-serif;
  background-color: #bcdeff;
  /* #164c81; */
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #333;
  width: 100%;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: #242424 2px 2px 1px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  /* max-width: 100%; */
  /* margin: auto; */
}

form {
  background-color: #abcdef;
  /* width: 400px; */
  /* margin: auto; */
  padding: 30px;
  box-shadow: #242424 4px 4px 4px;
  border-radius: 6px;
  /* text-align: center; */
}

