.alert-danger {
  background-color: orange;
}

body {
  background-color: rgb(69, 135, 189);    
}

#wrapper {
  background-color: white;
}

.navbar {	    
  top: 0;			/*le digo donde es sticky*/
  z-index: 500;	/*se suele poner un numero positivo grande, para que siempre quede por encima*/
  
}

.jumbotron {
  background-image: url("../img/fondo.jpg");
  height: 80vh;
  background-size: cover;
}

#contraste {
  background-color: rgba(255, 255, 255, 0.5);
}

.card-header {
  background-color: rgb(218, 218, 106);
}

.p-6 {
  padding: 20vh;
}

.rounded-large {  
  border-radius: 50px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



#animacion {
  position: relative;
  height: 600px;
}
  
#animacion p {
  position: absolute;
  bottom: 10px;
  display: none;
}
  
#fig1 {
  position: absolute;
  top: 50px;
  left: 10px;
  height: 100px;
  width: 100px;
  background-color: red;
}

#fig2 {
  position: absolute;
  top: 50px;
  right: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: yellow;
}

#fig3 {
  position: absolute;
  bottom: 50px;
  right: 10px;
  height: 100px;
  width: 100px;
  border-radius: 70% 30%;
  background-color: green;
}

#fig4 {
  position: absolute;
  bottom: 50px;
  left: 10px;
  height: 80px;
  width: 140px;
  background-color: blueviolet;
}