<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout flex</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <header>
    <h1>My web page</h1>
  </header>

  <nav>
    <a href="#">Home</a>
    <a href="#">Noticias</a>
    <a href="#">Contacto</a>
    <a href="#">Sobre mi</a>
  </nav>

  <div class="row">
    <aside>
      <h2>Aside</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolores culpa necessitatibus natus quasi, tempora deleniti vero, quis possimus, porro molestiae odio sapiente repellat optio nemo assumenda officiis libero quod.</p>
    </aside>
    <section>
      <h2>Section</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum consequuntur fugit itaque laborum sunt perspiciatis distinctio reiciendis nisi tempora fuga culpa, placeat odit unde nihil ullam excepturi quos fugiat! Placeat?</p>
    </section>
  </div>

  <footer>
    <h2>Footer</h2>
  </footer>

</body>
</html>