body {
  background-color: #faf8ef;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  display: flex;
  justify-content: center;
}

/*
.container {
  width: 468px;
  margin-top: 10px;
}
*/

.info {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 20px; */
}

h1 {
  font-size: 80px;
  line-height: 0.7;
  color: #776E65;
  margin: 0px;
}

.score-container {
  text-align: center;
  width: 70px;
  height: 60px;
  border-radius: 3px;
  background-color: #8f7a66;
  color: #FFFFFF;
}

.orange {
  background-color: #EDE0C8;
}

.score-title {
  font-size: 16px;
  margin-bottom: 10px;
}

#score, 
#best {
  font-size: 20px;
}

/***********************************************************************************/

.grid{
  width: 456px;
  height: 456px;
  background-color: #BBADA0;
  border: 7px solid #BBADA0;
  border-radius: 6px;
  
  display: flex;
  flex-wrap: wrap;

  margin-top: 20px;
}

.grid div {
  width: 100px;
  height: 100px;
  margin: 7px;
  border-radius: 3px;
  background-color: #EEE4DA;
  color: #afa192;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  line-height: 1.6;
}

/*************************************************************/

#teclado{
  width: 250px;
  margin: auto;
  /* margin-bottom: 0px; */
  margin-top: 80px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#teclado button {
  width: 64px;
  height: 60px;

  margin: 4px;
  border-radius: 5px;
  
  background-color: #D3D6DA;
  font-size: 30px;
  /* font-family: inherit; */
  font-weight: bold;

  /*quita relieve al boton*/
  border-style: none;   
  cursor: pointer;
}

/********************************************************************/

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 60px;
  }

  .grid {
    width: 300px;
    height: 300px;
  }

  .grid div {
    width: 60px;
    height: 60px;
    /* font-size: 40px; */
    font-size: 30px;
    line-height: 2.0;
  }

  #teclado {
    display: flex;
  }
}