body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f0f0f0; */
  background-color: #06066b;
}

h1 {
  margin: 20px;
  color: white;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 10px;
  /* background-color: #333; */
  background-color:#06066b ;

  padding: 10px;
  border-radius: 10px;
}

.cell {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cell[style*="white"] {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}



#puzzle-id, #attempts {
  margin: 15px;
  font-weight: bold;
  color: white;
}

#reset-btn {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#reset-btn:hover {
  background-color: #0056b3;
}